@font-face {
  font-family: 'Indie Flower';
  src: url('IndieFlower-Regular.ttf');
}

html {
  font-size: 18px;
  font-family: 'Indie Flower', Verdana, sans-serif;
}

html, body, #app {
  min-width: 320px;
  background: #23272e;
  margin: 0;
  color: #adbac7;
}

body {
  padding: 20px;
}

body.initializing #app {
  opacity: 0;
}

h2 {
  font-size: 50px;
  margin: 20px 0 10px;
  color: #539bf5;
}

img {
  max-width: 100%;
  border-radius: 5px;
  max-height: calc(100vh - 40px);
  display: block;
  margin: 0 auto;
}
a {
  cursor: pointer;
}
p {
  margin: 0;
}

input[type="text"] {
  background: #22272e;
  color: #adbac7;
  border: 1px solid #444c56;
  vertical-align: middle;
  padding: 5px 12px;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-family: Verdana, sans-serif;
}
input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus {
  border-color: #768390;
}
button {
  font-family: Verdana, sans-serif;
  background: #373e47;
  color: #adbac7;
  border: 1px solid #cdd9e51a;
  vertical-align: middle;
  padding: 5px 12px;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #444c56;
  border-color: #768390;
  transition-duration: .1s;
}

.house {
  margin-bottom: 50px;
}
.house-cameras::after {
  content: ' ';
  display: block;
  clear: both;
}
.house-camera {
  width: 31.33%;
  margin: 1%;
  float: left;
  position: relative;
  overflow: hidden;
  display: block;
  opacity: .7;
}
.house-camera:hover, .house-camera:active, .house-camera:focus {
  opacity: 1;
}
.house-camera h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
  margin: 0;
  pointer-events: none;
  text-shadow: 0 0 5px #000;
}

.invitation-house .select {
  font-weight: normal;
  border-radius: 0;
  padding: 5px 8px;
}
.invitation-house .select.first {
  border-radius: 6px 0 0 6px;
  margin-left: 10px;
}
.invitation-house .select.last {
  border-radius: 0 6px 6px 0;
  margin-right: 10px;
}
.invitation-house .select.selected {
  font-weight: bold;
  background-color: #444c56;
  border-color: #768390;
}

.join-house input[type="text"] {
  border-radius: 6px 0 0 6px;
  width: 80vh;
  max-width: 200px;
  border-right: 0;
}
.join-house button {
  border-radius: 0 6px 6px 0;
}

.active-camera {
  cursor: pointer;
}

.house-logs {
  font-family: Verdana;
  font-size: 10px;
  opacity: .5;
  margin-bottom: 10px;
  cursor: pointer;
}

/* @media screen and (max-width: 840px) {
  html {
    font-size: 20px;
  }
} */
